<section id="one" class="tiles">
  <!-- regular page tiles -->
  {% for page in site.html_pages %}
  {% if page.show_tile == true %}
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
      <p>{{ page.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  <!-- TODO: some sort of divider here -->
  <!-- post tiles -->
  <header class="major tile-divider">
    <h3>Featured posts</h3>
  </header>
  {% for post in site.posts %}
  {% if post.show_tile == true %}
  <article>
    <span class="image">
      <img src="{{ post.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
      <p>{{ post.date | date: "%m/%d/%Y" }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>
